<ion-view view-title="Lunch" class="form-container">
    <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons">
          <button class="button button-icon ion-chevron-left" ng-click="vm.myGoBack()"></button>
        </div>
        <h1 class="title">Lunch Booking</h1>
  </ion-header-bar>
    <ion-content class="lunch-screen" overflow-scroll=”false”>
        <div class="list">
            <!-- <label class="item item-input item-select">
                <div class="input-label">
                    Total Count 
                </div>
                <select ng-model="vm.lunchoptions">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </label> -->
            <div class="message">
                Today's Lunch Count   :    {{vm.totay_count || 0}}
            </div>
        </div>
        <div class="list">
            <div class="lunch_booked">
                    <h3>{{vm.lunch_message}}</h3>
                    <input type="number" name="input" ng-model="example.value"
                    min="0" max="99" required>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="redmine-footer login">
        <button class="button button-full submit-button"  ng-show="vm.lunchbooked_id ==''" ng-click="vm.booklunch()">
            Book Lunch
        </button>
        <button class="button button-full submit-button"  ng-show="vm.lunchbooked_id !=''" ng-click="vm.cancellunch(vm.lunchbooked_id)">
            Cancel Lunch
        </button>
    </ion-footer-bar>
    </form>
</ion-view>