<ion-view>
	<ion-header-bar align-title="center" class="bar-stable">
	  	<div class="buttons">
	    	<button class="button button-icon ion-chevron-left" ng-click="vm.myGoBack()"></button>
	  	</div>
	  	<h1 class="title">Permission</h1>
	</ion-header-bar>
	<ion-content class="container">
		<ion-list class="permission">
			<div class="member_info">
				<h4>User Info</h4>

				<div class="row">
                    <div class="col">
                        {{vm.userInfo.firstname}} {{vm.userInfo.lastname}}
                    </div>
                </div>

                <div class="row">
                    <div class="col col-50">
                        Office Start Time
                    </div>
                    <div class="col">
                    	{{vm.officeStartTime}}
                    </div>
                </div>

                <div class="row">
                    <div class="col col-50">
                        Day Start Time
                    </div>
                    <div class="col">
                    	<input type="time" class="col pad-0" ng-model="vm.dayStartTime" placeholder="Enter Time" ng-change="vm.enterTime()">
                    	<div ng-show="!vm.isTimeValid" class="error-msg">Choose day start time</div>
                    </div>
                </div>
			</div>
			<div class="booking">
				<h4>Permission Booking</h4>
				<div class="row pad-0">
                   <input type="number" class="pad-0" ng-model="vm.requestTime" placeholder="Enter Permission Time" ng-blur="vm.enterMinutes()">
                    <div class="col">Minutes</div>	
                </div>
                <div ng-show="!vm.isMinutesValid" class="error-msg">Book between below 1 hour</div>	
				<button class="button button-full button-positive btn-home" ng-disabled="vm.isLate" ng-click="vm.submitPermission()">
                    Submit
                </button>
                <button class="button button-full button-positive btn-home" ng-disabled="vm.isOffice" ng-click="vm.officeClick()">
                    I'm In Office
                </button>
			</div>
		</ion-list>
	</ion-content>
</ion-view>