<ion-view>
	<ion-header-bar align-title="center" class="bar-stable">
	  	<div class="buttons">
	    	<button class="button button-icon ion-chevron-left" ng-click="vm.myGoBack()"></button>
	  	</div>
	  	<h1 class="title">Permission</h1>
	</ion-header-bar>
	<ion-content class="container">
		<ion-list class="permission">
			<div class="member_info">
				<h4>User Info</h4>

				<div class="row">
                    <div class="col">
                        {{vm.userInfo.firstname}} {{vm.userInfo.lastname}}
                    </div>
                </div>

                <div class="row">
                    <div class="col col-50">
                        Office Start Time
                    </div>
                    <div class="col">
                        {{vm.officeStartTime}}
                    </div>
                </div>
			</div>
			<div class="booking">
				<h4>Booking</h4>
				<input type="text" ng-model="vm.requestTime" placeholder="Enter Request Time" maxlength="2">	
				<!-- <button class="button button-full button-positive btn-home" ng-disabled="vm.isLate" ng-click="vm.formSubmit()">
                    Submit
                </button> -->
                <button class="button button-full button-positive btn-home" ng-disabled="vm.isOffice" ng-click="vm.officeClick()">
                    I'm In Office
                </button>
			</div>
		</ion-list>
	</ion-content>
</ion-view>